<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>
<div style="margin: 20px;">
  <h1>Editing Task</h1>
  <%= render 'form', task: @task %>
  <%= link_to 'Show this task', @task, style: "display: block; margin-top: 20px;" %> |
  <%= link_to 'Back to tasks', tasks_path %>
</div>